NETWORK=nginx-proxy

#
# Database Container configuration
# We recommend MySQL or MariaDB - please update docker-compose file if needed.
#
CONTAINER_DB_NAME=revistappc_sql

# Path to store your database
#DB_PATH=/path/to/your/local/database/folder
DB_PATH=./ojs-data

# Root password for your database
MYSQL_ROOT_PASSWORD=root_password

# Database name, user and password for your wordpress
MYSQL_DATABASE=database_name
MYSQL_USER=user_name
MYSQL_PASSWORD=user_password

#
# Wordpress Container configuration
#
CONTAINER_OJS_NAME=revistappc_ojs

# Your domain (or domains)
DOMAINS=revistappc.com

# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=luandro@gmail.com

#
# Backup location
#
# This option should be used when backing up using the script in the repo:
# https://github.com/evertramos/docker-wordpress-backup
#BACKUP_PATH_NAME=/backup

#
# Crontab Rules
#
# Please only enable that if you know what you are doing, please refer to these samples:
#
# https://crontab.guru/examples.html
#
# And test if your setting is working
#
# Here is a basic rule for backup everyday at 04 am from monday to friday as of:
#
# https://crontab.guru/#00_04_*_*_1-5
#
#BACKUP_CRONTAB_RULE="00 04 * * 1-5"
